 <div class="backdrop" ></div>
<dialog open> 
  <h2>Add Task</h2>
  <form (ngSubmit)="onSubmit()">
    <p>
      <label for="title">Title</label>
      <input type="text" id="title" name="title" [(ngModel)]="enteredTitle" required />
    </p>

    <p>
      <label for="description">Description</label>
      <textarea id="description" rows="5" name="description" [(ngModel)]="enteredDesc" required></textarea>
    </p>

    <p>
      <label for="type">Task Type</label>
      <input type="type" id="type" name="type" [(ngModel)]="enteredType" required/>
    </p>
    <p>
        <label for="priority">Priority</label>
        <input type="priority" id="priority" name="priority"[(ngModel)]="enteredPriority" required/>
      </p>

    <p class="actions">
      <a routerLink="../">Cancel</a>
      <button type="submit">Create</button>
    </p>
  </form>
</dialog>