/* You can add global styles to this file, and also import other style files */
*{
  box-sizing: border-box;
}
/* html{
  height: 100%;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} */
body{
  font-family:"Poppins", sans-serif;
  background: radial-gradient(circle at top left,#0d0118,#090122);
  color: #db890e;
  margin: 0;
  padding: 0;
  height: 100%;
}